<menu xmlns="http://hl7.org/fhir/tools/website">
  <menu name="Home" url="index.html"/>
  <menu name="Nursing Process">
    <menu name="ADPIE Overview" url="adpie.html"/>
    <menu name="Clinical Safety" url="safety.html"/>
    <menu name="Health Equity" url="equity.html"/>
  </menu>
  <menu name="Standards">
    <menu name="Terminology" url="terminology.html"/>
    <menu name="Structured Data Capture" url="questionnaires.html"/>
    <menu name="Security &amp; Privacy" url="security.html"/>
    <menu name="Relational AI" url="relation-ai.html"/>
  </menu>
  <menu name="Artifacts" url="artifacts.html"/>
  <menu name="Downloads" url="downloads.html"/>
  <menu name="History" url="history.html"/>
</menu>
